{% if call_list %}
    <table>
        <thead>
            <tr>
                <th>Call</th>
                <th>Date</th>
                <th>Category</th>
                <th>Duration(secs)</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for call in call_list %}
                <tr>
                    <td>
                        <a href="{{ call.get_absolute_url }}">{{ call.created_on }}</a>
                    </td>
                    <td>{{ call.category }}</td>
                    <td>{{ call.duration }}</td>
                    <td>${{ call.cost|floatformat:2 }}</td>
                    <td>
                        <a href="{% url 'calls:call-update' call.id %}">Edit</a>
                        <a href="{% url 'calls:call-delete' call.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "includes/pagination.html" %}

{% else %}
    <p>No calls are registered yet.</p>
{% endif %}
