{% extends "layouts/base.html" %}

{% block content %}
    <div>
        <table>
            <tr>
                <th>Call</th>
                <th>Date</th>
                <th>Category</th>
                <th>Duration(secs)</th>
                <th>Total Cost</th>
            </tr>
            <tr>
                <td>{{ call.id }}</td>
                <td>{{ call.created_on }}</td>
                <td>{{ call.category }}</td>
                <td>{{ call.duration }}</td>
                <td>${{ call.cost|floatformat:2 }}</td>
                <td>
                    <a href="{% url 'calls:call-update' call.id %}">Edit</a>
                    <a href="{% url 'calls:call-delete' call.id %}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}
