{% extends "layouts/base.html" %}

{% block content %}
    {% if call_list %}
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Call</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Duration(secs)</th>
                    <th>Total Cost</th>
                </tr>
                {% for call in call_list %}
                    <tr>
                        <td style="text-align: center">
                            <a href="{{ call.get_absolute_url }}">{{ call.id }}</a>
                        </td>
                        <td style="text-align: center">{{ call.created_on }}</td>
                        <td style="text-align: center">{{ call.category }}</td>
                        <td style="text-align: center">{{ call.duration }}</td>
                        <td style="text-align: center">${{ call.cost|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% include "includes/pagination.html" %}

    {% else %}
        <p>No calls are registered yet.</p>
    {% endif %}
{% endblock content %}
