{% extends "layouts/base.html" %}

{% block content %}
    {% if call_list %}
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Call ID</th>
                    <th>Call Type</th>
                    <th>Call Duration(secs)</th>
                    <th>Total Cost</th>
                </tr>
                {% for call in call_list %}
                    <tr>
                        <td style="text-align: center">
                            <a href="{% url 'calls:detail' call.id %}">{{ call.id }}</a>
                        </td>
                        <td style="text-align: center">{{ call.category }}</td>
                        <td style="text-align: center">{{ call.duration }}</td>
                        <td style="text-align: center">${{ call.cost|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>No calls are registered yet.</p>
    {% endif %}
{% endblock content %}
