{% extends "layouts/base.html" %}

{% block content %}
    {% if call_list %}
        <table>
            <thead>
                <tr>
                    <th>Call</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Duration(secs)</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for call in call_list %}
                    <tr>
                        <td>
                            <a href="{{ call.get_absolute_url }}">{{ call.id }}</a>
                        </td>
                        <td>{{ call.created_on }}</td>
                        <td>{{ call.category }}</td>
                        <td>{{ call.duration }}</td>
                        <td>${{ call.cost|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include "includes/pagination.html" %}

    {% else %}
        <p>No calls are registered yet.</p>
    {% endif %}
{% endblock content %}
