{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'calls/style.css' %}">
        <title>

            {% block title %}
                Calls
            {% endblock title %}

        </title>
        <script src="https://unpkg.com/htmx.org@1.9.2"
                integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
                crossorigin="anonymous"></script>
    </head>
    <body hx-boost="true">
        <h1>Calls</h1>
        <a href="{% url 'calls:index' %}">Home</a>
        <a href="{% url 'calls:call-list' %}">List</a>
        <a href="{% url 'calls:call-create' %}">Create</a>

        {% block content %}
        {% endblock content %}

    </body>
</html>
